.showStep{
    display: block;
    }
    
    .hideStep{
    display: none;
    }
    
    /* #inline-checkbox-1,#inline-checkbox-2,#inline-checkbox-3,#inline-checkbox-4,#inline-checkbox-5,#inline-checkbox-6,#inline-checkbox-7{
    margin-right: 150px; 
    } */

    .bgcolor{
        /* background-color: lightgray; */
        height: 400px;
    }
    /* .basicFormStructure{
        height: 400px;

    } */
    .alignTeathNum{
        display: flex;
        flex-direction: column;
        margin:5px;
    }
    .displayFlex{
        display: flex;

    }
    .text-center{
        display: flex;
        flex-direction: column;
        
        }
        

    .allTeathSelection{
        display: flex;
        justify-content: space-evenly;;
    }
    .buttonwidth{
        display: inline;
        /* width:100px; */
        margin-left: 5px;
        /* margin-bottom: 0px; */
    }
    .plusSign{
        display: flex;
        justify-content: space-between;

    }

.custom-control-label::before, 
.custom-control-label::after {
    top: .8rem;
    width: 1.25rem;
    height: 1.25rem;
}

/* .radioMargin{
    margin-right: 10px;
} */

.form-check-input{
padding-left: 10px !important;
}
.x4padding{
    padding-right: 13px;
}
.removeColPadding{
    padding-left: 5px;
}
.vl {
    border-left: 1px solid lightgrey;
    height: 50px;
  }

  .textAlignL{
      text-align: left;
  }
.positionCenter{
    display: flex;
    justify-content: space-around;
}
  